@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: #edf6f9;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-bar {
    background-color: #1b4965;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-icon {
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-avatar {
    background-color: #1e40af;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    border-right: 1px solid #e5e7eb;
}

.menu-item {
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #4b5563;
    transition: all 0.2s;
}

.menu-item:hover {
    background-color: #f3f4f6;
    color: #2563eb;
}

.menu-item.active{
    background-color: #eff6ff;
    color: #2563eb;
    border-left: 3px solid #2563eb;
}

.menu-icon {
    font-size: 1.2rem;
}

