@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: #edf6f9;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-bar {
    background-color: #1b4965;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-icon {
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-avatar {
    background-color: #1e40af;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
